body {
  overflow: auto;
}

.grid {
  width: 100%;
  height: 100%;
}

.tile {
  fill: white;
}

.object {
  stroke-width: 1;
  stroke: darkblue;
  fill: powderblue;
}

.boldobject {
  stroke-width: 10;
  stroke: var(--obj-color, teal);
  fill: none;
}

.completed {
  fill: darkblue;
}

.boldcompleted {
  stroke: black;
}
